<!DOCTYPE html>
<html lang="en">

<head>
	<title>Scape</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/assets/js/js.js"></script>
</head>

<body>

	<div class="jumbotron text-center">
		<h1>Scapper</h1>
	</div>
	<div class="wrapper">
		<div class="row">
			<a href="scrape">
				<button id="ScrapeButoon" type="button" class="btn btn-danger">Scape Data!</button>
			</a>
			<a href="all">
				<button id="ScrapeButoon" type="button" class="btn btn-danger">Show articles</button>
			</a>
		</div>
		<div>
			<div class="col-sm-6">
				{{{ body }}}
			</div>
			<div class="col-sm-6" id="notes">
				<br/><p>notasdfde</p>
			</div>
		</div>
	</div>



</body>
<footer>
	<link rel="stylesheet" href="/css/style.css">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	 crossorigin="anonymous"></script>

</footer>

</html>